<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<md-toolbar color="primary">
  <span>{{title}}</span>
</md-toolbar>

<md-card>
  <md-input-container>
  <input mdInput placeholder="Base" [mdAutocomplete]="autobase" [(ngModel)]="selectedBaseCoin" [formControl]="coinBaseCtrl">
</md-input-container>

<md-autocomplete #autobase="mdAutocomplete">
  <md-option *ngFor="let coin of filteredBaseCoins | async" [value]="coin.code" (click)="update()">
    {{ coin.name }}
  </md-option>
</md-autocomplete>

<i class="material-icons">compare_arrows</i>

<md-input-container>
  <input mdInput placeholder="Target" [mdAutocomplete]="autotarget" [(ngModel)]="selectedTargetCoin" [formControl]="coinTargetCtrl">
</md-input-container>

<md-autocomplete #autotarget="mdAutocomplete">
  <md-option *ngFor="let coin of filteredTargetCoins | async" [value]="coin.code" (click)="updateTarget()">
    {{ coin.name }}
  </md-option>
</md-autocomplete>

</md-card>
<md-card *ngIf="selectedBaseCoin && selectedTargetCoin && ticker && ticker.price">
  1 {{selectedBaseCoin}} -> {{ ticker.price }} {{ ticker.target }}
</md-card>