<md-sidenav-container class="example-container">
  <md-toolbar color="primary">
    {{title}}
    <span class="app-toolbar-filler"></span>
  </md-toolbar>

<md-grid-list cols="2" rowHeight="2:1">
  <md-grid-tile>
     <md-card>
      
      <md-select id="baseCoinSelector" class="form-control" required [(ngModel)]="selectedBaseCoin" (ngModelChange)="update()">
  <md-option *ngFor="let coin of coins" [value]="coin.code">{{coin.name}} ({{coin.code}})</md-option>
</md-select>
<span>to</span>
<md-select id="targetCoinSelector" class="form-control" required [(ngModel)]="selectedTargetCoin" (ngModelChange)="update()">
  <md-option *ngFor="let coin of coins" [value]="coin.code">{{coin.name}} ({{coin.code}})</md-option>
</md-select>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card *ngIf="selectedBaseCoin && selectedTargetCoin">
      1 {{selectedBaseCoin}}  -> {{ ticker.price }} {{ ticker.target }}
    </md-card>
  </md-grid-tile>
</md-grid-list>


  <div class="app-content">

   

    
  </div>
</md-sidenav-container>


