<md-toolbar color="primary">
  <span>{{title}}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>GitHub</span>
</md-toolbar>

<md-card>

  <md-select id="baseCoinSelector" class="form-control" required [(ngModel)]="selectedBaseCoin" (ngModelChange)="update()">
    <md-option *ngFor="let coin of coins" [value]="coin.code">{{coin.name}} ({{coin.code}})</md-option>
  </md-select>
  <span>to</span>
  <md-select id="targetCoinSelector" class="form-control" required [(ngModel)]="selectedTargetCoin" (ngModelChange)="update()">
    <md-option *ngFor="let coin of coins" [value]="coin.code">{{coin.name}} ({{coin.code}})</md-option>
  </md-select>
</md-card>

<md-card *ngIf="selectedBaseCoin && selectedTargetCoin">
  1 {{selectedBaseCoin}} -> {{ ticker.price }} {{ ticker.target }}
</md-card>